<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workoutName</key>
	<string>Pierna Día</string>
	<key>workoutDescription</key>
	<string>Pierna día es una rutina de ejercicios que se centra sólo en las piernas</string>
	<key>defaultRestDuration</key>
	<integer>5</integer>
	<key>defaultExerciseDuration</key>
	<integer>30</integer>
	<key>exercises</key>
	<dict>
		<key>Item 0</key>
		<dict>
			<key>itemName</key>
			<string>Estocadas (izquierda)</string>
			<key>itemDescription</key>
			<string>Hacer estocadas</string>
			<key>itemImage</key>
			<string>workout2-0.png</string>
		</dict>
		<key>Item 1</key>
		<dict>
			<key>itemName</key>
			<string>Estocadas (derecha)</string>
			<key>itemDescription</key>
			<string>Hacer estocadas</string>
			<key>itemImage</key>
			<string>workout2-1.png</string>
		</dict>
		<key>Item 2</key>
		<dict>
			<key>itemName</key>
			<string>Sentadillas</string>
			<key>itemDescription</key>
			<string>Hacer sentadillas</string>
			<key>itemImage</key>
			<string>workout2-2.png</string>
		</dict>
		<key>Item 3</key>
		<dict>
			<key>itemName</key>
			<string>Extremo de los retrocesos / Salto / Squat</string>
			<key>itemDescription</key>
			<string>Saltar en el aire y llevar las dos piernas hacia arriba en un movimiento de &quot;patada a tope&quot;</string>
			<key>itemImage</key>
			<string>workout2-3.png</string>
		</dict>
		<key>Item 4</key>
		<dict>
			<key>itemName</key>
			<string>Embestidas de Salto</string>
			<key>itemDescription</key>
			<string>Comience en una posición de embestida; a continuación, saltar y cambiar de pierna todo en un solo movimiento</string>
			<key>itemImage</key>
			<string>workout2-4.png</string>
		</dict>
		<key>Item 5</key>
		<dict>
			<key>itemName</key>
			<string>Se pone en cuclillas pistola (izquierda)</string>
			<key>itemDescription</key>
			<string>Hacer sentadillas con una pierna hacia el frente</string>
			<key>itemImage</key>
			<string>workout2-5.png</string>
		</dict>
		<key>Item 6</key>
		<dict>
			<key>itemName</key>
			<string>Se pone en cuclillas pistola (derecha)</string>
			<key>itemDescription</key>
			<string>Hacer sentadillas con una pierna hacia el frente</string>
			<key>itemImage</key>
			<string>workout2-6.png</string>
		</dict>
		<key>Item 7</key>
		<dict>
			<key>itemName</key>
			<string>Pared se Encuentran</string>
			<key>itemDescription</key>
			<string>Hacer una sentada pared (como si estuviera sentado en una silla invisible con la espalda contra la pared)</string>
			<key>itemImage</key>
			<string>workout2-7.png</string>
		</dict>
		<key>Item 8</key>
		<dict>
			<key>itemName</key>
			<string>Sentadillas con salto</string>
			<key>itemDescription</key>
			<string>Comenzar con una posición en cuclillas y luego saltar tan alto como sea posible; a continuación, volver a bajar en otra posición en cuclillas</string>
			<key>itemImage</key>
			<string>workout2-8.png</string>
		</dict>
	</dict>
</dict>
</plist>
