<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Core X (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Core X.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>core-x.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>tv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>940AD45B1CC5AAA100FCF75C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941585031C1D103D00AFDBD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941585171C1D103E00AFDBD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947E6C311C42DDA900678A1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947E6C661C43000300678A1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947E6C761C43000300678A1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>947E6C931C4305CF00678A1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
