<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workoutName</key>
	<string>Leg-Day</string>
	<key>workoutDescription</key>
	<string>Leg Day is a route to work and stretch your legs</string>
	<key>defaultRestDuration</key>
	<integer>5</integer>
	<key>defaultExerciseDuration</key>
	<integer>30</integer>
	<key>exercises</key>
	<dict>
		<key>Item 0</key>
		<dict>
			<key>itemName</key>
			<string>Squats</string>
			<key>itemDescription</key>
			<string>Do traditional squats</string>
			<key>itemImage</key>
			<string>workout2-0.png</string>
		</dict>
		<key>Item 1</key>
		<dict>
			<key>itemName</key>
			<string>Lunges</string>
			<key>itemDescription</key>
			<string>Do lunges, alternating legs</string>
			<key>itemImage</key>
			<string>workout2-1.png</string>
		</dict>
		<key>Item 2</key>
		<dict>
			<key>itemName</key>
			<string>Bulgarian Squats</string>
			<key>itemDescription</key>
			<string>Place one foot behind you on an object and squat with one leg. Alternate legs</string>
			<key>itemImage</key>
			<string>workout2-2.png</string>
		</dict>
		<key>Item 3</key>
		<dict>
			<key>itemName</key>
			<string>Calf Raises</string>
			<key>itemDescription</key>
			<string>Lift yourself up onto your toes using your calf muscles</string>
			<key>itemImage</key>
			<string>workout2-3.png</string>
		</dict>
		<key>Item 4</key>
		<dict>
			<key>itemName</key>
			<string>Bent Leg Lunge (left)</string>
			<key>itemDescription</key>
			<string>Start in a lunge position; then lean forward to stretch your hamstring</string>
			<key>itemImage</key>
			<string>workout2-4.png</string>
		</dict>
		<key>Item 5</key>
		<dict>
			<key>itemName</key>
			<string>Bent Leg Lunge (right)</string>
			<key>itemDescription</key>
			<string>Start in a lunge position; then lean forward to stretch your hamstring</string>
			<key>itemImage</key>
			<string>workout2-5.png</string>
		</dict>
		<key>Item 6</key>
		<dict>
			<key>itemName</key>
			<string>Sit &amp; Reach (left)</string>
			<key>itemDescription</key>
			<string>Bend your right knee while keeping your left knee straight, reach for your left foot</string>
			<key>itemImage</key>
			<string>workout2-6.png</string>
		</dict>
		<key>Item 7</key>
		<dict>
			<key>itemName</key>
			<string>Sit &amp; Reach (right)</string>
			<key>itemDescription</key>
			<string>Bend your left knee while keeping your right knee straight, reach for your right foot</string>
			<key>itemImage</key>
			<string>workout2-7.png</string>
		</dict>
		<key>Item 8</key>
		<dict>
			<key>itemName</key>
			<string>Butterfly</string>
			<key>itemDescription</key>
			<string>Place the soles of your feet together in front of you and pull them towards your hips</string>
			<key>itemImage</key>
			<string>workout2-8.png</string>
		</dict>
	</dict>
</dict>
</plist>
