<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>workoutName</key>
	<string>Gamba Giorno</string>
	<key>workoutDescription</key>
	<string>Gamba Giorno è una routine di allenamento che si concentra solo sulle gambe</string>
	<key>defaultRestDuration</key>
	<integer>5</integer>
	<key>defaultExerciseDuration</key>
	<integer>30</integer>
	<key>exercises</key>
	<dict>
		<key>Item 0</key>
		<dict>
			<key>itemName</key>
			<string>Affondi (a sinistra)</string>
			<key>itemDescription</key>
			<string>Fare affondi</string>
			<key>itemImage</key>
			<string>workout2-0.png</string>
		</dict>
		<key>Item 1</key>
		<dict>
			<key>itemName</key>
			<string>Affondi (a destra)</string>
			<key>itemDescription</key>
			<string>Fare affondi</string>
			<key>itemImage</key>
			<string>workout2-1.png</string>
		</dict>
		<key>Item 2</key>
		<dict>
			<key>itemName</key>
			<string>Squat</string>
			<key>itemDescription</key>
			<string>Fare squat</string>
			<key>itemImage</key>
			<string>workout2-2.png</string>
		</dict>
		<key>Item 3</key>
		<dict>
			<key>itemName</key>
			<string>Mozzicone di calcio / Saltare / Tozzo</string>
			<key>itemDescription</key>
			<string>Salta in aria e portare entrambe le gambe in un movimento &quot;butt calcio&quot;</string>
			<key>itemImage</key>
			<string>workout2-3.png</string>
		</dict>
		<key>Item 4</key>
		<dict>
			<key>itemName</key>
			<string>Vai Affondi</string>
			<key>itemDescription</key>
			<string>Inizia in una posizione di affondo; poi saltare e passare le gambe tutto in un unico movimento</string>
			<key>itemImage</key>
			<string>workout2-4.png</string>
		</dict>
		<key>Item 5</key>
		<dict>
			<key>itemName</key>
			<string>Pistola Squat (a sinistra)</string>
			<key>itemDescription</key>
			<string>Fare squat con una gamba dritta di fronte</string>
			<key>itemImage</key>
			<string>workout2-5.png</string>
		</dict>
		<key>Item 6</key>
		<dict>
			<key>itemName</key>
			<string>Pistola Squat (a destra)</string>
			<key>itemDescription</key>
			<string>Fare squat con una gamba dritta di fronte</string>
			<key>itemImage</key>
			<string>workout2-6.png</string>
		</dict>
		<key>Item 7</key>
		<dict>
			<key>itemName</key>
			<string>Muro di Sedersi</string>
			<key>itemDescription</key>
			<string>Fare un sit muro (come si sono seduti in una sedia invisibile con la schiena contro il muro)</string>
			<key>itemImage</key>
			<string>workout2-7.png</string>
		</dict>
		<key>Item 8</key>
		<dict>
			<key>itemName</key>
			<string>Squat Saltare</string>
			<key>itemDescription</key>
			<string>Inizia con uno squat poi saltare più in alto possibile; poi tornare verso il basso in un altro tozzo</string>
			<key>itemImage</key>
			<string>workout2-8.png</string>
		</dict>
	</dict>
</dict>
</plist>
